div.flex-container {
    display:flex; 
    background-color: grey;
    /* margin:50px 300px 70px 300px; */ 
    flex-direction: column; 
    justify-content: space-between;
    align-content: flex-end;
    align-self: flex-end;
    width: 580px;
    height: 1200px;
    margin: auto;
    font-size: medium;
    color: snow;
    
}
.row {
    display:-webkit-flex; 
    width:540px;
    margin:10px 20px 10px 20px;
    position: static;
    /* border:2px solid whitesmoke; */
}
.column {
    width:270px;
    text-align: center;
    margin-top: auto;
}

.heading {
    display: inline-block;
    text-align:center;
    margin-left: 150px;
    height:70px;
    width:100px;
    border-radius: 15px;
    
    
}

table,td {
    padding:1px;
   
   

}
.iconblock {
    display:inline-block;
    /* border:1px solid whitesmoke; */
    width:260px;
    text-align: center;
    font-weight: 180px;
    margin-block-start: 15px;
    
     
}
.image {
    width:50px;
    float: left;
}
i {
    color:rgba(51, 3, 51, 0.644);
}
#clrRED {
    color:rgb(248, 113, 113);
    font-size: 28px;
}
#container1 {
    background-color: orange;
}
#container2 {
    background-color: dodgerblue;

}
#container3 {
    background-color: rgb(248, 113, 113);
}

#container4,table.rowtwo {
    background-color: dodgerblue;
}
#container5 {
    background-color:rgb(248, 113, 113);

}
#container6 {
    background-color: orange;
}
#container7 {
    background-color: dodgerblue;
    height:80px;
}
#container8 {
    background-color: orange;
    height:80px;
}
#container9 {
    background-color:dodgerblue;
    margin-top: 0%;
}
#container10 {
    background-color:rgb(248, 113, 113);
}
strong {
    font-family: 'Roboto Slab', serif;
  
}

      

